body{  
    margin: 0px;
    font-family: 'Darker Grotesque', sans-serif;
    box-sizing: border-box;
    background-color: black;
        }
        
        container{
            margin: 0;
        }
        
       
        
        .logo{
            float: left;   
        }
        
        .logo img{
            width: 80px;
            height: 40px;
            border-radius: 5px;
            margin: 5px;
            margin-left: 100px;
        }
        
       
           
    
    /* colums */
.column {
  float: left;
  padding: 10px;
  height: 450px; 
}
    
        
.left {
  width: 65%;
}

.right {
  width: 30%;
}

        .right h3{
            margin-top: 0px;
            color: yellow;
        }        

.row:after {	
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
    
    .column.left {
	height: 200px;
}
}
    
        .container1{
            margin-top: 100px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }   
        
        .container2{
            width: 100%;
            height: 130px;
            padding:2px;
            margin-bottom: 10px;
            color: white;
        }
        
        .container2 img{
            width: 24%;
            height: auto;
            float: left;
        }
        
        
        .point{
            padding: 15px;
            margin-left: 100px;
            height: 100px;
            position: relative;  
            color: white;
        }
        
        .Browse_link{
            color: white;
            text-decoration: none;
        }
        
        .right h3 a:hover{
            color: yellow;
        }
                
        /*image conatiner*/
        
       .imagecontainer{
            margin-top: 20px;
            width: 80%;
            height: 500px;
            overflow-x: scroll;
            background-color: black;
            margin-left: auto;  
            margin-right: auto;
            padding: 10px;
        }   
        
        .trtitle{
            color: yellow;
            margin-left: 150px;
        }
     
        #resl{
            display: flex;
            flex: 0 0 auto;
        }    
        
        
    #trend {
	display: flex;
    flex: 0 0 auto;   
}
        
    #nowplay {
	display: flex;
    flex: 0 0 auto;   
}
        #top {
	display: flex;
    flex: 0 0 auto;   
}
        #upcom {
	display: flex;
    flex: 0 0 auto;   
}    
        
    
    .to {
	float: left;
	width: 20%;
	height: 450px;
	max-height: auto;
	background-color: #111;
	margin-right: 20px;
}
    
    .to img{
        width: 200px;
        cursor: pointer;
    }
        
    .to_indent{
        text-align: center;
        font-size: 20px;
    }    
        
    .to button{
            padding: 5px 23px 5px;
            color: #5799ef;
            background-color: #222;
            border: 2px solid transparent;
            border-radius: 5px;    
        }
    @media screen and (max-width: 1270px) {
            .to{
                width: 100%!important;
            }
            
            
            .imagecontainer{
                width: 100%;
            }
            
        .trtitle{
            margin-left: 30px;
        }
        }    
        /*menu*/
        *{
  margin: 0;
  padding: 0;
  color: #f2f2f2;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
nav{
  background: #222222;
  padding: 10px 40px 10px 70px;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}
nav ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li.logo{
  flex: 1;
  font-size: 30px;
  font-weight: 700;
}
nav ul div.items{
  padding: 0 25px;
  display: inline-flex;
}
nav ul div.items a{
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
}
nav ul div.items a:hover{
  color: cyan;
}
nav ul .search-icon{
  height: 40px;
  width: 240px;
  display: flex;
  background: #f2f2f2;
  border-radius: 5px;
  float: left;    
}
nav ul .search-icon input{
  height: 100%;
  width: 200px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
}
nav ul .search-icon .icon{
  height: 100%;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
nav ul .search-icon .icon:hover{
  background: #e6e6e6;
}
nav ul .search-icon .icon span{
  color: #222222;
  font-size: 18px;
}
nav ul li.btn{
  font-size: 29px;
  flex: 1;
  padding: 0 40px;
  display: none;
}
nav ul li.btn span{
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 1px solid #151515;
  border-radius: 5px;
  cursor: pointer;
}
nav ul li.btn span.show:before{
  content: '\f00d';
}
@media screen and (max-width: 1052px) {
  nav{
    padding: 10px 40px 10px 0px;
  }
  nav ul li.logo{
    display: none;
  }
  nav ul div.items{
    flex: 4;
  }
}
@media screen and (max-width: 800px){
  nav ul li.btn{
    display: block;
  }
  nav{
    z-index: 1;
    padding: 9px 40px 9px 0;
  }
  nav ul div.items{
    z-index: -1;
    position: fixed;
    top: -220px;
    right: 0;
    width: 100%;
    background: #222222;
    display: inline-block;
    transition: top .4s;
  }
  nav ul div.items.show{
    top: 60px;
  }
  nav ul div.items li{
    text-align: center;
    line-height: 30px;
    margin: 30px 0;
  }
  nav ul div.items li a{
    font-size: 19px;
  }
}
@media screen and (max-width: 405px) {
  nav ul{
    flex-wrap: nowrap;
  }
  nav ul li.search{
    width: 50vmin;
  }
  nav ul li input{
    width: 40vmin;
  }
  nav ul li .search-icon{
    width: 10vmin;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 0 40px;
  z-index: -2;
}
.content .text{
  font-size: 40px;
  font-weight: 800;
  padding: 5px 0;
  color: #202020;
}
.content .p{
  font-size: 28px;
  font-weight: 600;
  color: #202020;
}

.items.show {
	z-index: 999;
}        
    
 /*feature today*/
    
    
    .feature {
            margin: 50px auto 20px;
            width: 80%;
            height: 350px;
            
        }
        
        .today{
            float: left;
            padding: 20px;
            width: 30%;
            height: 250px; 
        }
        
        .feature h1{
            color: yellow;    
        }
        
        .today img{
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
        
        .today a{
            color: white;
            text-decoration: none;
        }
        
        .today a:hover{
            color: grey;
        }
        
        
        @media screen and (max-width: 600px) { 
  .today {
    width: 100%;
  }
}
        
        
        /*overlay*/
        #overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
              